<div class="btn-group" role="group">
    <a href="@Url.Action("Login", "Auth")" class="btn btn-outline-light text-modified "> <i class="fas fa-sign-in-alt"></i> Se Connecter </a>
    <a href="@Url.Action("CreerCompte", "Auth")" class="btn btn-outline-light text-modified"> <i class="fas fa-user-plus"></i>  Créer un compte</a>
</div>