<li class="nav-item">
    @Html.ActionLink("Voitures", "Voitures", "Admins", null, new { @class = "nav-link text-modified  text-light" })
</li>
<li class="nav-item">
    @Html.ActionLink("Reservations", "Reservations", "Admins", null, new { @class = "nav-link text-modified  text-light" })
</li>
<li class="nav-item">
    @Html.ActionLink("Clients", "Clients", "Admins", null, new { @class = "nav-link text-modified  text-light" })
</li>
<li class="nav-item">
    @Html.ActionLink("Admins", "Admins", "Admins", null, new { @class = "nav-link text-modified  text-light" })
</li>